body {
    margin: 0 50px;
    font-family: sans-serif;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 148);
}

a:hover {
    background-color: yellow;
    text-decoration: underline;
}

h1 {
    color: rgb(0, 0, 148);
}

#flex-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.flex-item-left {
    flex-grow: 0.3;
    padding-right: 50px;
}

.flex-item-left img {
    width: 330px;
    height: 330px;
}

.flex-item-left h1 {
    font-size: 40px;
    margin: 3px;
}

.flex-item-right {
    background-color: #dedede;
    border: 1px solid rgb(0, 0, 148);
    flex-grow: 2;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
}

.flex-item-right .titles {
    background-color: teal;
    padding-left: 10px;
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
}

.flex-item-right ul {
    margin-bottom: 10px;
}

.flex-item-right ul.outer {
    margin-top: 0;
    margin-bottom: 20px;
}

.flex-item-right ul.outer-last {
    margin: 0;
}

.unersections {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}

.unersections div.title {
    margin-bottom: 10px;
    text-align: center;
    background-color: teal;
    font-size: 65px;
    color: white;
    padding-top: 5px;
}

.unersections > b {
    font-size: 30px;
}

.unersections ul.outer {
    font-size: 20px;
}

.unersections ul {
    margin-bottom: 10px;
}